body{
    font-family: 'Roboto',
    sans-serif;
    width: 1600px;
}
body,.navlink,.filterbtn{
    color: #212121;
}
.webs,
.navlink,
.headerlink,
.footerlink {
    text-decoration: none;
}
.webs,
.navlink,
.headerlink,
.footerlink,footer p{
    font-style: normal;
}
.webs{
    font-family: 'Raleway',
    sans-serif;
    font-size: 26px;
    line-height: 1.2;
}
h2,.navlink,.headerlink,.tableheader,.name,.position{
    line-height: 1.17;
}
footer p,.footerlink,.tabledescription{
    line-height: 1.71;
}
.webs:hover,.webs:focus{
    color: purple;
}
.navlink,.headerlink,.name{
    font-weight: 500;
}
footer p,.headerlink,.tableheader,.navlink,.tabledescription,.footerlink{
    font-size: 14px;
   }
.headerlink,.tabledescription,.position,.description{
    color: #757575;
}
.servicebtn,.filterbtn:hover{
    background-color: #2196F3; 
    line-height: 1.88;
}
h2,.servicebtn,.tableheader,.category{
    font-weight: 700;
}
footer p,.tabledescription,.position,.description{
    font-weight: 400;
}
.name,.position,.servicebtn,.description{
    font-size: 16px;
}
.servicebtn:hover,.servicebtn:focus{
        background-color: #fff;
}
.filterbtn{
        background-color: #f5f4fa;
}
.servicebtn,.filterbtn{
    border: none;
    cursor: pointer;
}
.filterbtn:focus{
    border: #212121;
}
.footerlink{
    color: #ffffff99;
    display: flex;

}
.webs,.servicebtn:hover,.servicebtn:focus,.navlink:hover,.navlink:focus,.headerlink:hover,.headerlink:focus,.footerlink:hover,.footerlink:focus{
    color: #2196F3;
}
footer, .solutions{
    background-color: #2F303A;
}
h1,footer p,.filterbtn:hover,.servicebtn{
    color: #fff;
}
h1{
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    width: 696px;
    height: 120px;
    margin: 0px 0px 30px 0px;
}
h2{
    font-size: 36px;
}
h1,h2{
    text-align: center;
}
.category{
    font-size: 18px;
    line-height: 2;
}
header{
    height: 80px;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC ;
    border-bottom-style: solid;
}
header>nav{
    width: 531px;
    margin: 24px 0px 25px 215px;
}
header>div{
    width: 296px;
    margin: 32px 219px 32px 339px;
}
header,header>nav,header>div{
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
footer{
    height: 252px;
}
address p{
    margin: 9px 0px 0px 0px;
}
.ourteam figure,.ourteam,.wedopic,.solutions,main,header,header>nav,header>div,address{
    display: flex;
}
address,main,.solutions,.ourteam,.ourteam figure{
    flex-direction: column;
}
address,.solutions{
    justify-content: center;
}
address{
    box-sizing: content-box;
    width: 231px;
    height: 252px;
    margin: 0px 0px 0px 215px;
}
main,.solutions,.ourteam,.ourteam figure{
    align-items: center;
}
.container{
    width: 1200px;
}
.solutions{
    width: 1600px;
    height: 600px;
    margin: 0px 0px 94px 0px;
}
.servicebtn{
    width: 200px;
    height: 50px;
    border-radius: 4px;
}
.wedo{
    margin: 90px 0px 50px 0px;
}
.wedopic{
    height: 294px;
    justify-content: space-between;
    margin: 0px 0px 94px 0px;
}
.ourteam{
    height: 648px;
    background-color: #f5f4fa;;
}
.ourteam>h2{
    padding: 94px 0px 50px 0px;
}
.ourteam h2, figure{
    margin:0px
}
.name{
    margin: 30px 0px 10px 0px;
}
.position{
    margin: 0px 0px 30px 0px;
}
figure{
    padding:0px;
    background-color: #fff;
}
.filterbtn{
    height: 38px;
    width: auto;
    padding: 6px 24px 6px 24px;
    margin: 0px 0px 50px 0px;
}
.portpic figure{
    border-color: #ECECEC;
    border-width: 1px;
    border-style: solid;
    width: 370px;
    height: 404px;
}